<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appin.javaexamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AndroidSqliteSpinnerEx"></activity>
        <activity android:name=".AndroidSqliteEx" />
        <activity android:name=".DynamicRadioButtonEx" />
        <activity android:name=".RadioButtonAndCustomRadioButtonEx" />
        <activity android:name=".CheckboxAndCustomCheckboxEx" />
        <activity android:name=".ToggleButtonEx" />
        <activity android:name=".AndroidChocoBarEx" />
        <activity android:name=".AndroidSnackBarEx" />
        <activity android:name=".ToastAndCustomToastEx" />
        <activity android:name=".WorkingWithButton" />
        <activity android:name=".ChangeScreenOrientationEx" />
        <activity android:name=".ShowAndHideTitleEx" />
        <activity android:name=".JsonRecyclerWithImageAndText" />
        <activity android:name=".JsonVolleyRecyclerEx" />
        <activity android:name=".JsonArrayFromAdapter" />
        <activity android:name=".RecyclerViewEx" />
        <activity android:name=".HorizontalCalendarEx" />
        <activity android:name=".DisplayPatientDetails" />
        <activity android:name=".JsonArrayEx" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>